.countBtn button{
    background-color: rgb(255, 230, 0); border-radius: 10px; width: 105px; height: 30px; 
}
.countBtn{
    display: flex; width: 40%; justify-content: space-between; padding-top: 20px; font-size: 50px; align-items: center;
}