.countBtn button{
    background-color: rgb(255, 230, 0); border-radius: 10px; width: 105px; height: 30px; 
}
.countBtn{
    display: flex; justify-content: space-around;  font-size: 30px; align-items: center; 
}
.form
{
width: 25%;
}