.theme{
    position: absolute; right: 10px; top: 5px;
}
.list {
   width: 100%; font-size: 12,5px; font-weight: 600; display: flex; justify-content: space-between; flex-direction: column; 
}
.navList{
    width: 30%;
}

.list li{
    list-style: none;
}

a{
    text-decoration: none; color: rgb(82, 190, 31);
}
.selected {
    font-weight: bold; color: rgba(0, 0, 0, 0.911);
}
.theme a:hover{
    font-weight: bold; color: rgba(9, 36, 43, 0.911)
}
