.theme{
    position: absolute; right: 10px; top: 5px;
}
.list {
   width: 75%; font-size: 20px; display: inline-flex; justify-content: space-between; padding-top: 10px;
}

.list li{
    list-style: none;
}

a{
    text-decoration: none; color: rgb(82, 190, 31);
}
.selected {
    font-weight: bold; color: rgba(0, 0, 0, 0.911);
}
.theme a:hover{
    font-weight: bold; color: rgba(9, 36, 43, 0.911)
}
