.bottom{
    height: 30px; background-color: rgba(255, 174, 0, 0.356); display: flex; align-items: center;
    position: fixed; bottom: 1px; right: 1px; width: 100%; justify-content: flex-end; font-weight: 600;
}